.Main-text {
  background-color: white;
  text-align: left;
}

.Main-photo {
  height: 600px;
  background-image: url("/images/sammy-aspen.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.Admin-button {
  border-color: #ef980e;
  border-radius: 20px;
  background-color: white;
  font-family: "Heebo", sans-serif;
}

.User-button {
  background-color: #ef980e;
  color: white;
  font-family: "Domine", serif;
  font-size: 1.25em;
  padding: 10px 15px;
  border: 0px;
  border-radius: 20px;
  margin-bottom: 20px;
  transition: all 0.5s ease;
}
.Button-orange {
  background-color: #ef980e;
  color: white;
  font-family: "Domine", serif;
  font-size: 3em;
  padding: 15px 20px;
  border: 0px;
  border-radius: 20px;
  margin: 20px;
  transition: all 0.5s ease;
}
.Button-orange a {
  text-decoration: none;
  color: white;
}
.User-button:hover {
  transform: scale(1.1);
}
.Button-orange:hover {
  transform: scale(1.1);
}
.main-blue {
  color: #0e7ea7;
}

main {
  padding-left: 4em;
  padding-right: 4em;
}
.light-gray {
  color: #e5e3e3;
}

.Nav a {
  color: white;
  text-decoration: none;
}

.Nav {
  background: #0e7ea7;
  color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 4em;
  padding-right: 4em;
  position: sticky;
  top: 0;
  height: 6em;
  align-items: baseline;
}
.Nav-Links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Nav-Links li {
  flex-grow: 1;
  padding-right: 1em;
  font-size: 1.25em;
}

li {
  list-style-type: none;
}
.Footer {
  background: #0e7ea7;
  color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 2em;
  padding-bottom: 2em;
}
.Footer p {
  color: white;
  font-size: 0.75em;
}

.Animal-card-holder {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-bottom: 2em;
}
.Animal-card {
  border: 1px solid #e5e3e3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 250px;
  height: 325px;
  margin-bottom: 30px;
  text-align: center;
  margin-right: 10px;
}
.Animal-card li {
  padding: 0px 10px;
}
.Animal-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}
.Animal-card-photo {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

label {
  color: #0e7ea7;
  font-family: "Heebo", sans-serif;
  font-size: 1em;
  font-weight: 700;
}

.form-control {
  height: 30px;
  margin: 7px;
  width: 40%;
  padding-left: 5px;
}

.text-muted {
  font-family: "Heebo", sans-serif;
  font-size: 0.75em;
  color: #707070;
  padding-bottom: 30px;
}
