body {
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
p,
li,
a {
  color: #707070;
}

h1,
h3 {
  font-family: "Domine", serif;
}

h3 {
  font-size: 1.5em;
}

p,
li {
  font-family: "Heebo", sans-serif;
}

h2 {
  font-family: "Heebo", sans-serif;
  color: #0e7ea7;
  margin: 2px;
}
